@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
  color:#24292e;
  background: url(healthy_lifestyle_sources/background_page.png);
  background-color:rgba(0, 0, 0, 0.39);
  background-size:1000px;
}
canvas {
  margin-top:2px;
  margin-left:2px;
  float:left;
  background: url(healthy_lifestyle_sources/background_start.png);
  box-shadow:0px 0px 2px 2px rgba(0, 0, 0, 0.07);
}
#logo {
  margin-left:50px;
  margin-top:50px;
}
#value_BIM {
  float:left;
  font-size:20px;
  font-family:'Open Sans';
  background:rgb(85, 127, 251);
  color:#fff;
  padding:10px;
  width:300px;
  margin-top:0px;
  margin-left:50px;
}

#bim {
  margin-left:50px;
  float:left;
  width:250px;
  height:10px;
  font-size:20px;
  font-family:'Open Sans';
}

#physical{
  background:#00c3ff;
  border:none;
  color:#fff;
  padding:10px 20px;
  margin-left:50px;
  float:left;
  margin-top:0px;
  font-size:1.1314em;
  font-family:"Segoe UI", sans-serif;
  border-radius:5px;
  transition: all 0.3s ease;
  display:none;
  font-weight: 600;
}

#physical:hover {
  cursor: pointer;
  box-shadow:10px 3px 19px 2px rgba(0, 0, 0, 0.07);
}

#restart {
  background:#00c3ff;
  border:none;
  color:#fff;
  padding:10px 20px;
  margin-left:50px;
  float:left;
  margin-top:0px;
  font-size:1.1314em;
  font-family:"Segoe UI", sans-serif;
  border-radius:5px;
  transition: all 0.3s ease;
  display:none;
  font-weight:600;
}

#restart:hover {
  box-shadow:10px 3px 19px 2px rgba(0, 0, 0, 0.07);
  cursor:pointer;
}

#game_instructions {
  font-family:"Open Sans", "Segoe UI", sans-serif;
  font-weight:400;
  width:70%;
  margin-left:20px;
  margin-top:20px;
}

@media (min-width:1500px) {
  #game_instructions {
    width:40%;
  }
}

#game_instructions_img {
  margin-left:-9px;
  margin-top:0px;
  width:300px;
}

#whos_bill_img {
  margin-left:-9px;
  margin-top:0px;
  width:150px;
}

#what_bmi_img {
  margin-left:-9px;
  margin-top:0px;
  width:150px;
}

#movements_img {
  margin-left:-9px;
  margin-top:0px;
  width:200px;
}

#bill_die_img {
  margin-left:-9px;
  margin-top:0px;
  width:250px;
}
